<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Coach Core</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-lg">
      <h1 class="text-3xl font-semibold text-indigo-900 mb-4 text-center">
        Coach Core
      </h1>
      <p id="error" class="text-red-600 mb-2 text-left"></p>
      <form
        th:action="@{/account/register}"
        id="registerForm"
        class="space-y-4"
        method="POST"
        th:object="${registerUser}"
      >
        <div>
          <input
            th:field="*{username}"
            type="text"
            id="username"
            placeholder="Enter username"
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-400"
          />
          <p
            th:if="${#fields.hasErrors('username')}"
            th:text="${#fields.errors('username')[0]}"
            class="text-red-600 text-sm mt-1 text-left"
          ></p>
        </div>

        <div>
          <input
            th:field="*{email}"
            type="text"
            id="email"
            placeholder="Enter email"
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-400"
          />
          <p
            th:if="${#fields.hasErrors('email')}"
            th:text="${#fields.errors('email')[0]}"
            class="text-red-600 text-sm mt-1 text-left"
          ></p>
        </div>

        <div>
          <input
            th:field="*{password}"
            type="password"
            id="password"
            placeholder="Enter password"
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-400"
          />
          <p
            th:if="${#fields.hasErrors('password')}"
            th:text="${#fields.errors('password')[0]}"
            class="text-red-600 text-sm mt-1 text-left"
          ></p>
        </div>

        <div>
          <input
            th:field="*{confirmPassword}"
            type="password"
            id="repeatPassword"
            placeholder="Repeat password"
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-400"
          />
          <p
            th:if="${#fields.hasErrors('confirmPassword')}"
            th:text="${#fields.errors('confirmPassword')[0]}"
            class="text-red-600 text-sm mt-1 text-left"
          ></p>
        </div>

        <button
          type="submit"
          id="registerButton"
          class="w-full bg-yellow-400 text-indigo-900 font-semibold px-6 py-3 rounded-lg shadow-lg hover:bg-yellow-300 transition"
        >
          Register
        </button>
      </form>

      <div class="text-center mt-3">
        <a th:href="@{/account/login}" class="text-black hover:text-yellow-400"
          >Already have an account? Login here</a
        >
      </div>
    </div>
  </body>
</html>
