<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Coach Core</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-lg text-center">
      <h1 class="text-3xl font-semibold text-indigo-900 mb-4">Coach Core</h1>
       <div class="text-center mt-3">
        <a th:href="@{/account/login}" class="text-black hover:text-yellow-400"
          >Whoops... something went wrong</a
        >
      </div>
    
  </body>
</html>
